body {
  color: black;
}

header {
  color: white;
  background-color: #00CCAB;
  text-align: center;
  vertical-align: middle;
}

header > div > div > div > h1 > a{
  color: white;
  text-decoration: none;
}

footer {
  color: grey;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

fieldset {
  padding: 20px;
  border-style: inset;
  border-color: #1A1032;
  border-radius: 10px;
  border-width: thin;
}

legend {
  text-align: center;
}

.checked {
    color: orange;
}

.product-row {
  margin: 25px 0;
}
.product-block {
  padding: 15px;
  border-color: #CCCCCC;
  border-style: solid;
  border-width: thin;
  height: 100%;
}

.product-block img {
  height: 200px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#productPicture img {
  height: 50vh;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.address-block {
  padding: 20px;
  border-style: inset;
  border-color: grey;
  border-radius: 5px;
  border-width: thin;
}

.bottom-nav {
    height: 30px;
    position:absolute;
    bottom:0;
}

#searchBar {
  display: flex;
  align-items: center;
  text-align: center;
}

#welcomeMessage {
  display: flex;
  align-items: center;
  font-size: large;
  text-align: center;
}
#welcomeMessage > div {
  font-weight: bold;
}
/*----------------------------- S I D E   B A R ------------------------------*/
#sidebar {
    padding: 10px;
    background: grey;
    color: #fff;
    transition: all 0.3s;
    min-width: 250px;

    min-height: 85vh;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    color: white;
    padding: 10px;
    font-size: 1.1em;
    display: block;
    text-decoration: none;
}
#sidebar ul li a:hover {
    color: black;
    background: white;
}
#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #334074;
}

/*---------------------- P R O D U C T   D E T A I L S -----------------------*/
#product-info {
  color: grey;
}

#product-name {
  color: black;
}

#product-price {
  font-size: 140%;
}

.in-stock {
  color: green;
  font-size: 140%;
}

.warning-stock {
  color: #CC471A;
  font-size: 140%;
}

.out-stock {
  color: red;
  font-size: 140%;
}

.product-origin {
  font-size: 110%;
}
/*---------------------------- C R A F T S M A N -----------------------------*/

#craftPicture img {
  height: 50vh;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#craft-name {
  color: black;
}

#craft-info {
  color: grey;
}

.craft-origin {
  font-size: 110%;
}

/*----------------------------- C O M M E N T S ------------------------------*/
.comment-block {
  margin: 30px 40px;
}

.comment-name {
  font-size: 150%;
}

.comment-date {
  font-size: 75%;
}

.comment-score {

}

.comment {

}
